@model ExchangeViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <br />
   <h2>Dolar Alış Fiyatı: @Model.data.exchange_rate</h2>
   <h2>Dolar Alış Fiyatı: @Model.data.previous_close</h2>
   
</div>